include LICENSE README.md tox.ini requirements.txt

recursive-include rest_auth_toolkit *.txt *.html
recursive-include rest_auth_toolkit *.po *.mo

# ship demo in sdist, but not in wheels
recursive-include demo *.py *.in *.txt *.html
