pip-tools

django
djangorestframework
django-debug-toolbar

# Note: rest-framework-auth-toolkit is not here, it should already
# be importable if you do pip install -e from your dev virtualenv.

django-model-utils
django-shortuuidfield
