pip-tools

django == 2.0.*
djangorestframework
django-debug-toolbar

django-model-utils
django-shortuuidfield

# Note: rest-framework-auth-toolkit is not here, it should already
# be importable if you do "pip install -e ." from your dev virtualenv.
# We do include facepy here to make sure requirements.txt
# contains all transitive dependencies.
facepy

# for the browsable API
markdown
pygments
