flit
pip-tools == 7.4.*

django == 4.2.*
djangorestframework
django-debug-toolbar
dj-database-url
psycopg2

django-model-utils
shortuuid

-e ..[facebook]

# API docs
coreapi
markdown
pygments

# old dependency retained to keep migrations working
django-shortuuidfield
